@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Jaldi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200;300;400;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

main {
  background-image: url('/pizza.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 90vh;
}
